/* Reset básico de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Barra lateral */
.sidebar {
    flex: 1 1 250px; /* Flexibilidad con un tamaño base de 250px */
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.cover-container {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}


nav ul {
    list-style: none;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #34495e;
}

/* Estilo del contenido principal */
.content {
    flex: 2 1 700px; /* Toma el doble de espacio que la sidebar */
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}




body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 0;  /* Eliminamos padding global para evitar espacios extra */
    margin: 0;   /* Eliminamos margen global */
}

.header {
    text-align: center;
    background-color: #3498db;  /* Un color de fondo para diferenciar el encabezado */
    padding: 30px 0;  /* Espaciado alrededor */
}

.cover {
    width: 60%;  /* Ajustamos el tamaño de la imagen */
    height: auto;
    margin: 0 auto; /* Centramos la imagen */
    display: block; /* Aseguramos que la imagen esté centrada */
    border-radius: 8px;
}

h1 {
    font-size: 3rem;
    color: white;
    margin-top: 20px;
}


.content h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 1.8rem;
    color: #2980b9;
    margin-top: 30px;
}

.content p {
    font-size: 1.1rem;
    color: #7f8c8d;
    line-height: 1.6;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        flex: 1 1 100%;
    }

    .content {
        flex: 1 1 100%;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }
}

